<div class="seller-auth">
  <!-- Signup Form -->

  <div *ngIf = "!showLogin" class="sign-up-login">
    <h2>Seller Signup</h2>
    <form
      class="common-form"
      #sellerSignUp="ngForm"
      (ngSubmit)="signUp(sellerSignUp.value)"
      action=""
      method="post"
    >
      <input
        class="form-input"
        type="text"
        name="name"
        placeholder="Enter Name"
        ngModel
      />
      <input
        class="form-input"
        type="email"
        name="email"
        placeholder="Enter Email"
        ngModel
      />
      <input
        class="form-input"
        type="password"
        name="password"
        placeholder="Enter Password"
        ngModel
      />
      <button class="form-button">SignUp</button>
      <h5>Already have Account?<a class = "auth-toggle-link" (click) = "openLogin()"> Login here.</a></h5>
    </form>
  </div>

  <!-- Login Form -->

  <div *ngIf = "showLogin" class="sign-up-login">
    <h2>Seller Login</h2>
    <form
      class="common-form"
      #sellerLogin="ngForm"
      (ngSubmit)="login(sellerLogin.value)"
      action=""
      method="post"
    >
      <input
        class="form-input"
        type="email"
        name="email"
        placeholder="Enter Email"
        ngModel
      />
      <input
        class="form-input"
        type="password"
        name="password"
        placeholder="Enter Password"
        ngModel
      />
      <h5 class="error-h">{{authError}}</h5>
      <button class="form-button">Login</button>
      <h5>Don't have Account?<a class = "auth-toggle-link" (click) = "openSignup()"> Signup</a></h5>
    </form>
  </div>
</div>
