body{
    font-family: sans-serif;
}

.container {
    margin-left: 5%;
    margin-right: 5%;
}

.common-form {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0);
}

.form-input{
    display: flex;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;  
}

.form-button { 
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error-h{
    color: red;
}

.message_h{
    color: green;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.39);
    border-radius: 5px;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: black;
    border-radius: 5p;
}