.search-item{
    margin: 25px auto;
    width: 800px;
    border-top: 1px solid #ddd;
    padding: 10px;
}

.search-item img{
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.search-item h6{
    font-size: 24px;
    color: brown;
}

.search-item p{
    margin: 5px;
}

.search-item span{
    margin-right: 10px;
}