.product-header-img{
    object-fit: contain;
    width: 100%;
    height: 600px
}

.product-list-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 80px;
}

.product-item{
border: 1px solid #ddd;
margin-right: 25px;
margin-bottom: 40px;
}

.product-item img{
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.product-item .product-details{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px
}

.product-item .name-head{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.product-item .product-details h6{
    text-align: center;
}

.product-item .product-footer{
display: flex;
justify-content: space-between;
padding: 10px;
}